<h1>Welcome <%= @current_user.email %>!</h1><br>

<button><%= link_to "Discover Movies", movies_path, method: :get %></button><br><br><br>

<div class="row">
  <div class="column_left">
    <h3>Viewing Parties</h3>
  </div>
  <div class="column_right">
   <h3>Friends</h3></div>
</div>