---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/genre/movie/list?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c7d9fedacbe3a8b344029e563cad89b8cfd03d9e
      X-Memc-Age:
      - '14880'
      X-Memc-Expires:
      - '1696'
      Etag:
      - W/"98d6f4fb3a0e0c77544a7277f32baebb"
    body:
      encoding: ASCII-8BIT
      string: '{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science
        Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}'
  recorded_at: Wed, 14 Jul 2021 10:28:40 GMT
recorded_with: VCR 6.0.0
