<div style='text-align: center'>

  <h1>Welcome to Viewing Party</h1>

  <p>This platform allows users to invite their friends to watch movies together online!</p>

  <%= image_tag("watch_party.jpeg") %>

</div>